<?php if ($modules) { ?>
<aside id="column-left" class="col-sm-3 hidden-xs">
	<div class="caption">
		<h1>Категорії</h1>
	</div>
  	<?php foreach ($modules as $module) { ?>
  	<?php echo $module; ?>
  	<?php } ?>
</aside>
<?php } ?>
