<!--<div id="search" class="input-group">
  <input type="text" name="search" value="" placeholder="<?php echo $text_search; ?>" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>-->

<div id="search">
	<span class="icon-search"></span>
	<input type="text" name="search" value="<?php echo $search; ?>" placeholder="Пошук по сайту" />
</div>