@font-face {
  font-family: 'lrc-icons';
  src:  url('/catalog/view/theme/default/fonts/lrc-icons.eot?90a6hy');
  src:  url('/catalog/view/theme/default/fonts/lrc-icons.eot?90a6hy#iefix') format('embedded-opentype'),
    url('/catalog/view/theme/default/fonts/lrc-icons.ttf?90a6hy') format('truetype'),
    url('/catalog/view/theme/default/fonts/lrc-icons.woff?90a6hy') format('woff'),
    url('/catalog/view/theme/default/fonts/lrc-icons.svg?90a6hy#lrc-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lrc-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-up:before {
  content: "\e903";
}
.icon-remove:before {
  content: "\e90a";
}
.icon-burger:before {
  content: "\e904";
}
.icon-call:before {
  content: "\e905";
}
.icon-cart:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e909";
}
.icon-reload:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-skype:before {
  content: "\e90b";
}
.icon-vk:before {
  content: "\e90e";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-list:before {
  content: "\e911";
}
.icon-th:before {
  content: "\e912";
}

