body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
main,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

caption,
th,
td {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h4 {
  font-size: 14px;
}

img,
picture,
svg {
  margin: 0;
  max-width: 100%;
  height: auto;
}

sup {
  vertical-align: text-top;
  top: 0.4em;
  left: 0.2em;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #653633;
  height: 100%;
  line-height: 1.4;
  background-color: #fff;
}

h1 {
  font-size: 16px;
  text-transform: uppercase;
}

a, a:visited {
  color: #653633;
  text-decoration: none;
}



a:hover, a:focus, a:active {
  color: #753a36;
  text-decoration: none;
}

#hidden {
  display: none;
}

.caption {
  border-bottom: solid 2px #dadada;
  margin-bottom: 30px;
}

.caption:after {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #653633;
  position: absolute;
}

.caption h1 {
  margin-bottom: 8px;
}

.buttons a, .buttons a:hover, .buttons a:visited {
  color: #fff;
}

header .container {
  padding-top: 15px;
  padding-bottom: 15px;
}

header .schedule {
  margin-top: 30px;
}

header .schedule .icon-clock {
  font-size: 32px;
  float: left;
  margin-right: 12px;
}

header .schedule ul {
  font-size: 16px;
  line-height: 1;
}

header .phones {
  float: right;
}

header .phones ul {
  margin-top: 10px;
  font-size: 16px;
}

header .btn-callback {
  border: none;
  background: #653633;
  padding: 9px 16px;
  margin-top: 11px;
}

.popup-with-zoom-anim, .popup-with-zoom-anim:hover, .popup-with-zoom-anim:visited, .popup-with-zoom-anim:focus {
  color: #fff;
}

.mfp-content {
    osition: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

header #search {
  background-color: #e6e6e6;
  border: solid 1px #dadada;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  width: 400px;
  margin-top: 33px;
}

header #search input {
  background-color: #e6e6e6;
  margin-left: 5px;
  width: 90%;
}

#menu {
  background: #e6e6e6;
  height: 46px;
}

#menu .container {
  height: 100%;
}

#menu .container .row nav:hover > .drop-menu {
  display: block;
}

#menu .container .row .nav-btn,
#menu .container .row .main-navigator,
#menu .container .row ul,
#menu .container .row li {
  list-style-type: none;
  float: left;
}

#menu .container .row .drop-menu {
  display: none;
  position: absolute;
  top: 46px;
  z-index: 100;
  width: 240px;
  font-size: 12px;
  background-color: #653633;
  text-transform: uppercase;
}

#menu .container .row .drop-menu li {
  float: none;
}

#menu .container .row .drop-menu li a {
  display: block;
  padding: 10px 30px 10px 30px;
  color: #fff;
}

#menu .container .row .drop-menu li a:hover {
  color: #dadada;
}

#menu .container .row .drop-menu span {
  color: #fff;
  float: right;
}

#menu .container .row .drop-menu .drop-menu-products {
  position: absolute;
  display: none;
  color: #fff;
  margin-top: -36px;
  left: 238px;
  font-size: 12px;
  background-color: #653633;
  text-transform: none;
  border-left: 2px solid #753a36;
  width: 100%;
}

#menu .container .row .drop-menu .drop-menu-products li a {
  padding: 10px 30px;
  text-transform: uppercase;
}

#menu .container .row .drop-menu .drop-menu-products li:hover {
  background-color: #753a36;
}

#menu .container .row .drop-menu li:hover > ul {
  display: block;
}

#menu .container .row .drop-menu li:hover {
  background-color: #753a36;
}

#menu .container .row .nav-menu-toolbar {
  display: none;
}

#menu .container .row .nav-menu {
  font-size: 12px;
  text-transform: uppercase;
  padding: 18px 20px 12px;
}

#menu .container .row .nav-menu li {
  margin-right: 20px;
}

#menu .container .row .nav-btn {
  padding: 15px 30px 9px 30px;
  text-transform: uppercase;
  background: #653633;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#menu .container .row .icon-burger {
  margin-right: 15px;
}

#menu .container .row .toolbar {
  float: right;
}

#menu .container .row .toolbar #cart,
#menu .container .row .toolbar .user {
  padding: 0 10px;
  float: right;
}

#menu .container .row .toolbar #cart {
  display: block;
  position: relative;
  padding: 15px 0 12px 10px;
}

#menu .container .row .toolbar #cart:hover > .menu-cart {
  display: block;
}

#menu .container .row .toolbar #cart a {
  padding: 15px 0 12px 0;
}

#menu .container .row .toolbar #cart ul.menu-cart {
  display: none;
  position: absolute;
  top: 46px;
  z-index: 99;
  background-color: #e6e6e6;
  text-align: left;
  left: auto;
  right: 0;
  width: 260px;
  padding: 20px;
  border-top: 2px solid #753a36;
}

#menu .container .row .toolbar #cart ul.menu-cart .mini-cart-info td {
  vertical-align: top;
  font-size: 12px;
}

#menu .container .row .toolbar #cart ul.menu-cart .mini-cart-info .image {
  text-align: left;
  width: auto;
  padding: 15px 5px 15px 0;
}

#menu .container .row .toolbar #cart ul.menu-cart .mini-cart-info .image img {
  text-align: left;
  margin: 0px;
  display: block;
  max-width: 60px;
  border: 1px solid #653633;
}

#menu .container .row .toolbar #cart ul.menu-cart .mini-cart-info .border {
  border-bottom: 1px solid #fff;
}

#menu .container .row .toolbar #cart ul.menu-cart .mini-cart-info .name {
  padding: 12px 5px 15px 5px;
  width: 100%;
}

#menu .container .row .toolbar #cart ul.menu-cart .mini-cart-info .remove {
  text-align: right;
  padding-top: 10px;
}

#menu .container .row .toolbar #cart ul.menu-cart .mini-cart-info .remove button {
  background: none;
  border: none;
}

#menu .container .row .toolbar #cart ul.menu-cart .mini-cart-info .remove button span {
  font-size: 8px;
}

#menu .container .row .toolbar #cart ul.menu-cart .min-cart-total {
  padding: 10px 0;
}

#menu .container .row .toolbar #cart ul.menu-cart .min-cart-total td {
  padding: 3px 20px 0 0;
  font-size: 12px;
}

#menu .container .row .toolbar #cart ul.menu-cart .checkoutbuttons a {
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}

#menu .container .row .toolbar #cart ul.menu-cart .checkoutbuttons .button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 9px 20px;
  display: inline-block;
  font-size: 13px;
  border: 1px solid #653633;
}

#menu .container .row .toolbar .user {
  padding: 15px 10px 12px 0;
  border-right: solid 1px #e6e6e6;
}

#menu .container .row .toolbar .user a {
  padding: 15px 10px 12px 0;
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */

/*
 *  Default theme - Owl Carousel CSS File
 */

.owl-theme .owl-nav {
  margin-top: -23px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav .owl-prev {
  float: left;
  margin-left: 25px;
}

.owl-theme .owl-nav .owl-next {
  float: right;
  margin-right: 25px;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 21px;
  display: inline-block;
  cursor: pointer;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 15px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  margin: 5px 7px;
  border: solid 2px #fff;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
  opacity: 0.8;
}

.promo-wrap {
  margin-top: 30px;
}

.products {
  margin-top: 60px;
  position: relative;
}

.products .product-heading {
  border-bottom: solid 2px #dadada;
}

.products .product-heading:after {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #653633;
  position: absolute;
}

.products .product-heading h1 {
  margin-bottom: 8px;
}

.products .product-heading .product-nav {
  position: absolute;
  right: 30px;
  top: 0px;
  @media screen and (max-width: 768px) {
    display: none;
  } 
}

.products .product-heading .product-nav .next,
.products .product-heading .product-nav .prev {
  float: left;
  cursor: pointer;
  color: #653633;
}

.products .product-heading .product-nav .prev {
  margin-right: 20px;
}

.products .product-wrap {
  margin-top: 20px;
}

.products .product-wrap .product-item {
  font-size: 16px;
  width: 270px;
  margin: 0 auto;
}

.products .product-wrap .product-item .info {
  text-align: center;
  height: 30px;
}

.products .product-wrap .product-item .product-line {
  margin: 20px auto;
  padding-left: 95px;
  width: 100px;
  height: 2px;
  background-color: #e6e6e6;
}

.products .product-wrap .product-item .price-container {
  position: relative;
  height: 32px;
}

.products .product-wrap .product-item .price-container .price {
  font-family: 'Roboto Medium', sans-serif;
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

.products .product-wrap .product-item .price-container .btn-price {
  float: right;
  border: none;
  background-color: #653633;
  color: #fff;
  padding: 8px 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.brand {
  background-color: #eae6df;
  margin-top: 60px;
  line-height: 1.2;
}

.brand .bg-wrap {
  background-color: #fff;
  margin: 30px 0;
}

.brand .items-wrap {
  padding: 58px 28px 0 58px;
}

.brand .items-wrap .item {
  margin-bottom: 30px;
}

.brand .items-wrap .logo {
  float: left;
  margin-right: 30px;
}

.brand .items-wrap p {
  display: table-cell;
  height: 70px;
  vertical-align: middle;
  text-align: justify;
}

.brand .img-brand {
  width: 100%;
}

footer {
  background-color: #653633;
  color: #fff;
  padding: 30px 0;
}

footer .footer-info,
footer .footer-product,
footer .footer-contact {
  border-right: 1px solid #947371;
  height: 100%;
}

footer .footer-info ul,
footer .footer-product ul {
  margin-top: 30px;
  line-height: 1.8;
}

footer .footer-info ul a,
footer .footer-product ul a {
  color: #fff;
}

footer ul.footer-product-sell {
  float: left;
  margin-right: 30px;
}

footer ul.social {
  margin-top: 31px;
}

footer ul.social span {
  font-size: 26px;
}

footer ul.social ul {
  margin-top: 9px;
}

footer ul.author li a {
  color: #fff;
}

footer ul.author li a:hover {
  color: #bababa;
}

footer ul.author .year {
  font-size: 12px;
  color: #bababa;

}

footer ul.social ul li {
  display: inline-block;
  margin-right: 8px;
}

footer ul.social ul li:last-child {
  margin-right: 0;
}

footer ul.social ul li a {
  color: #fff;
}

footer .footer-contact ul {
  margin: 30px auto 8px auto;
}

footer .footer-contact ul li.card {
   margin-top: 10px;
}

footer .footer-contact ul li a,
footer .footer-contact ul li a:visited,
footer .footer-info ul a:visited,
footer .footer-product ul a:visited {
  color: #fff;
}

footer .footer-contact ul li a:hover,
footer .footer-info ul a:hover,
footer .footer-product ul a:hover {
  color: #bababa;
}

footer .footer-contact ul span {
  margin-right: 7px;
}

footer .footer-contact ul li.call {
  margin-left: 26px;
}

footer .footer-contact ul .icon-call {
  margin-left: 4px;
  margin-right: 10px;
}

footer .footer-contact ul .card {
  margin-top: 8px;
}

@media screen and (max-width: 1192px) {
  header #search {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  header .schedule {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header #logo {
    text-align: center;
  }

  header .phones {
    display: none;
  }

  #menu .container .row .drop-menu {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
  }

  #menu .container .row .drop-menu .drop-menu-products span {
    display: none;
  }

  #menu .container .row .drop-menu .drop-menu-products li:hover > ul {
    display: none;
  }

  #menu .container .row .nav-menu {
    display: none;
  }

  #menu .container .row .nav-menu-toolbar {
    display: block;
  }

  #menu .container .row .nav-btn {
    width: 100%;
    text-align: center;
  }

  .slider-none {
    display: none;
  }

  .promo-wrap .promo-item {
    margin-bottom: 30px;
  }

  .promo-wrap .promo-item img {
    width: 100%;
  }

  .products {
    margin-top: 30px;
  }

  .brand .bg-wrap {
    background-color: #eae6df;
  }

  .brand .items-wrap {
    padding-left: 28px;
  }

  .brand .items-wrap .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .brand .items-wrap p {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer .footer-info,
  footer .footer-product {
    margin-top: 30px;
  }

  footer .footer-info:before,
  footer .footer-product:before {
    display: none;
  }

  footer .footer-info ul,
  footer .footer-product ul {
    margin-top: 15px;
  }

  footer .footer-product {
    display: none;
  }

  footer ul.social {
    float: none;
    margin-top: 30px;
  }

  footer .footer-contact {
    text-align: center;
    margin-top: 30px;
  }


  .footer-bottom {
    text-align: center;
  }

  .footer-bottom .copyright,
  .footer-bottom .author {
    float: none;
  }
}

ul.breadcrumb {
  width: 100%;
  display: inline-block;
}

ul.breadcrumb li {
  float: left;
  padding: 20px 0;
}

ul.breadcrumb li:after {
  content: "/";
  padding: 0 4px;
  color: #653633;
  cursor: default;
}

ul.breadcrumb li:last-child:after {
  content: "";
}

#contact {
  font-size: 14px;
  margin-bottom: 30px;
}

#contact ul,
#contact form {
  margin-top: 30px;
}

#contact ul.social-icon {
  margin-top: 5px;
}

#contact ul.social-icon li {
  display: inline-block;
  font-size: 18px;
  margin-right: 15px;
}

#contact ul.address li span.icon-call {
  margin-left: 4px;
  margin-right: 10px;
}

#contact ul.address li span.icon-mail {
  margin-right: 7px;
}

#contact ul.address li.call {
  margin-left: 26px;
}

#contact .input-field-half {
  width: 50%;
  max-width: 100%;
  display: block;
  float: left;
  padding: 3px 10px 0 0;
  margin-bottom: 12px;
}

#contact .right {
  padding: 3px 0 0 0;
}

#contact .required {
  color: #ba302c;
  font-weight: normal;
}

#contact input {
  width: 100%;
  max-width: 100%;
}

#contact input[type='text'],
#contact input[type='password'],
#contact select {
  height: 38px;
}

#contact input[type='text'],
#contact input[type='password'],
#contact textarea,
#contact select {
  background: #ffffff;
  color: #dadada;
  border: 1px solid #e6e6e6;
  padding: 9px;
  max-width: 100%;
  outline: none;
  -webkit-transition: border-color 400ms, -webkit-box-shadow 400ms;
  transition: border-color 400ms, -webkit-box-shadow 400ms;
  transition: box-shadow 400ms, border-color 400ms;
  transition: box-shadow 400ms, border-color 400ms, -webkit-box-shadow 400ms;
}

#contact textarea {
  width: 100%;
  height: 200px;
}

#contact .button .btn {
  border: none;
  background: #653633;
  color: #fff;
  padding: 9px 26px;
  margin-top: 11px;
}

#category h1 {
  line-height: 1;
}

#category .product-filter {
  width: 100%;
  border-bottom: solid 1px #dadada;
  padding: 5px 0px;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 27px;
  font-size: 14px;
}

#category .title {
  margin-right: 5px;
  display: inline-block;
}

#category .btn-group {
  display: inline-block;
}

#category .btn-group #list-view,
#category .btn-group #grid-view {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  margin-right: 3px;
  border: 1px solid #dadada;
  background-color: #fff;
}

#category .btn-group #list-view.active,
#category .btn-group #list-view:hover,
#category .btn-group #grid-view.active,
#category .btn-group #grid-view:hover {
  background: #653633;
  color: #fff;
}

#category .right {
  float: right;
}

#category .product {
  font-size: 16px;
  margin: 0 auto 30px auto;
}

#category .product .info {
  text-align: center;
  height: 40px;
}

#category .product .product-line {
  margin: 20px auto;
  padding-left: 95px;
  width: 100px;
  height: 2px;
  background-color: #e6e6e6;
}

#category .product .price-container {
  position: relative;
  height: 32px;
}

#category .product .price-container .price {
  font-family: 'Roboto Medium', sans-serif;
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

#category .product .price-container .btn-price {
  float: right;
  border: none;
  background-color: #653633;
  color: #fff;
  padding: 8px 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#category .product .item {
  width: 270px;
  margin: 0 auto;
}

#category .product .item .image img {
  margin: 0 auto;
}


.thumbnails .image-additional {
  width: 74px;
  display: inline-block;
}


#category #pagination-wrap {
  margin-bottom: 25px;
  border-top: solid 1px #dadada;
  padding: 5px 0px;
  line-height: 28px;
  font-size: 14px;
}

#category #pagination-wrap .pagination {
  float: right;
}

#category #pagination-wrap .pagination li {
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
}

#category #pagination-wrap .pagination li:last-child {
  margin-right: 0;
}

#category #pagination-wrap .pagination li.active span{
  border: 1px solid #653633;
}

#category #pagination-wrap .pagination li a {
  border: 1px solid #dadada;
}

#category #pagination-wrap .pagination li a, #category #pagination-wrap .pagination li span {
  display: block;
  height: 30px;
  min-width: 30px;
  padding: 0 10px;
  text-align: center;
}

#column-left .list-group {
  margin-top: 30px;
}

#column-left .list-group a {
  display: block;
  padding-left: 10px;
  line-height: 35px;
}

#column-left .list-group a:hover {
  background-color: #e6e6e6;
}

#column-left .list-group a.active {
  background-color: #e6e6e6;
}

.price-old {
  text-decoration: line-through;
  font-size: 10px;
}

.price-new {
  color: red;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.panel {
  background-color: #e6e6e6;
  border: 1px solid #dadada;
  margin-bottom: 10px;
  border-radius: 4px;
}

.panel-heading {
    padding: 10px 15px;  
}

.panel-heading .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-collapse .panel-body {
    border-top: 1px solid #dadada;
    padding: 15px;
}

h2 {
    font-size: 30px;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #753A36;
}

#button-cart {
  width: 100%;
  margin-top: 25px;
}

.list-unstyled {
  margin-top: 25px;
}

#product {
  margin-top: 10px;
}

#form-review .required {
  margin-top: 10px;
}

#review, .tab-content, #form-review h1, .table-form {
  margin-top: 30px;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active,
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail:focus
{
  border-color: #753a36;
}

.btn-primary {
    color: #fff;
    background-color: #653633;
}

.btn-reset {
    background-color: #653633;
    border: 1px solid #dadada;
    border-right: 0;
    color: #fff;
    padding: 6px 10px;
}

.btn-danger {
  padding: 6px 10px;
  background-color: #d9534f;
  color: #fff;
  border: 1px solid #dadada;
  border-left: 0px;
}

.btn-default {
    color: #653633;
    background-color: #fff;
    border-color: #e6e6e6;
}


.form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #653633;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dadada;
}

.form-control:focus {
  border: 1px solid #dadada;
}

.alertwraper {
    position: fixed;
    top: -50px;
    width: 100%;
    z-index: 10;
    left: 0;
    text-align: center;
}

#content {
  margin-bottom: 30px;
}